@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;509&display=swap');
/* font-family: 'Noto Sans', sans-serif; */


/* content */
p.texto{
    color: white;
    text-transform: uppercase;
    font-size: 90px;
    padding: 500px 0px 100px 100px;
    text-shadow: 0px 0px 15px black;
}

a.ori{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.295);
    color: black;
    border-radius: 30px;
    margin: 0px 0px 0px 100px;
    padding: 8px;
    font-size: 18px;
    text-transform: capitalize;
    transition: 0.2s;
}

a.ori:hover{
    background-color: #004379ab;;
    color: black;
    transition: 0.2s;
    padding: 12px;
}

section{
    width: 99vw;
    height: 100vh;
}

.imagem{
    background-image: url(../images/header/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2{
    color: white;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 10px;
    margin: 0px 0px 0px 00px;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

/* imagens */

.image-container {
    position: relative;
    overflow: hidden;
    max-width: 40%;
}

.imageone {
    width: 60%;
    border-radius: 15px;
    transition: 1s;
}

.image-container:hover .imageone {
    width: 61%; /* Adjust the size as needed */
    transition: 1s;
}

.text-container {
    display: none;
    position: absolute;
    top: 60%;
    left: 2%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 15px;
    width: 55%;
}

.image-container:hover .text-container {
    display: block;
}

.textone{
    font-size: 1.3em;
}

.tittleone{
    font-size: 1.8em;
    padding-bottom: 10px;
}

/* imagens */

/* content */