@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;509&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left top, gray, black);
    max-width: 100vw;
    max-height: 100vh;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: black;
    text-align: left;
    transition: 0.8s;
    width: 100%;
    font-family: 'Merriweather', serif;
}

header > img {
    height: 80px;
    margin: 15px;
}

header > nav {
    display: flex;
    align-items: center;
    padding: 20px;
}

header:hover{
    padding-bottom: 20px
}

header > nav > a {
    margin: 0px 15px;
    text-decoration: none;
    color: white;
    transition: 0.8s;
}

header > nav > a:hover{
    color: rgba(255, 255, 255, 0.555);
    background-color: rgba(240, 248, 255, 0.116) ;
    border-radius: 5px;
    padding: 6px 20px 6px 20px;
    transition: 0.4s;
    font-size: 17px;
}
/* header */